Redirect 301 /tutorials/es2015-modules-with-babel/ https://blog.revillweb.com/using-es2015-es6-modules-with-babel-6-3ffc0870095b
Redirect 301 /articles/do-we-really-need-javascript-frameworks/ https://blog.revillweb.com/javascript-developers-do-we-really-need-frameworks-5cd659ec7365
Redirect 301 /tutorials/web-components-with-es2015-es6/ https://blog.revillweb.com/write-web-components-with-es2015-es6-75585e1f2584
Redirect 301 /articles/why-web-components-are-important/ https://blog.revillweb.com/why-web-components-are-so-important-66ad0bd4807a
Redirect 301 /angularjs-by-example/4-sharing-data-with-angularjs-services/ https://blog.revillweb.com/abe-part-4-consuming-apis-and-sharing-data-with-angularjs-services-ddd3ae72b371
Redirect 301 /angularjs-by-example/3-controllers/ https://blog.revillweb.com/abe-part-3-implementing-angularjs-controllers-using-best-practices-806850028e38
Redirect 301 /angularjs-by-example/2-project-structure/ https://blog.revillweb.com/angularjs-by-example-project-structure-and-modularity-ace27d0357ea
Redirect 301 /angularjs-by-example/1-introduction/ https://blog.revillweb.com/introduction-to-the-angularjs-by-example-tutorial-series-38409be62629
Redirect 301 /tutorials/angularjs-in-30-minutes-angularjs-tutorial/ https://blog.revillweb.com/angularjs-tutorial-learn-angularjs-in-30-minutes-35b5eae52dc2
Redirect 301 /tutorials/bootstrap-tutorial/ https://blog.revillweb.com/bootstrap-tutorial-a-responsive-design-tutorial-with-twitter-bootstrap-3-cb6445c1e586#.hgznxiv0k
Redirect 301 /tutorials/jquery-foreach-using-jquery-each/ https://blog.revillweb.com/jquery-foreach-using-jquery-each-99904fea31bf#.pbsy9cehk
Redirect 301 /tutorials/jquery-disable-button/ https://blog.revillweb.com/jquery-disable-button-disabling-and-enabling-buttons-with-jquery-5e3ffe669ece#.k7fgn58xb
FallbackResource /