@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

/**
    GOLD: http://www.color-hex.com/color/ffd700
    ROYAL BLUE: http://www.color-hex.com/color/4169e1
**/

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #0d152d;
    font-family: 'Lato', sans-serif;
}
.frame {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.section, .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #0d152d;
    transition: background-color 0.5s ease;
    width: 25%;
}

.section .image-holder {
    width: 150px;
    height: 150px;
    /*background-color: #CCC;*/
    margin: 0 auto 20px auto;
    transition: height 0.5s ease;
}

.section .image-holder img {
    border: solid 2px rgba(204, 172, 0, 0.50);
}

.info  {
    /*padding-top: 100px;*/
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
/*.info .bottom {*/
    /*flex-grow: 1;*/
/*}*/
.section .top {
    flex-grow: 1.5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFF;
    transition: flex-grow 0.5s ease, margin-bottom 0.5s ease;
    margin-bottom: 50px;
}
.section .top .inner {
    position: relative;
    flex-direction: column;
}
.section h1 {
    margin: 0;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    color: #ffd700;
    width: 100%;
    font-family: 'Satisfy', cursive;
}
.section .top .inner h1 {
    transition: width 0.5s ease, color 0.5s ease;
}
.section hr {
    margin: 30px auto;
    width: 40%;
    border: 0 none;
    border-top: 1px solid rgba(255, 215, 0, 0.25);
    transition: margin 0.5s ease, opacity 0.5s ease;
}
.section p.description {
    font-weight: 300;
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
    color: #998100;
    height: 80px;
    transition: height 0.5s ease, opacity 0.5s ease;
}

/** HOVER EVENTS **/
.section.content.hover {
    background-color: #ccac00;
}
.section.content.hover hr {
    opacity: 0;
    margin: 0;
}
.section.content.hover h1 {
    color: #0d152d;
}
.section.content.hover p.description {
    height: 0;
    opacity: 0;
    margin: 0;
}
.section.content.hover .top {
    padding: 10px;
    flex-grow: 0;
    margin-bottom: 0;
}
.section.content.hover .image-holder {
   height: 0;
    margin: 0;
}

.section .bottom {
    flex-grow: 1;
}
.section .bottom {
    transition: flex-grow 0.5s ease;
    overflow-y: scroll;
    height: 200px;
}
.section .bottom ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section .bottom ul li {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.54);
}
.section:hover .bottom {
    flex-grow: 1;

}
.info .bottom {
    overflow: hidden;
    width: 60%;
}
.info .social {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info .social a {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;
    color: rgba(204, 172, 0, 0.51);
    transition: color 0.5s ease;
}
.info .social a:hover {
    color: #ccac00;
}
@media (max-width:  900px) {
    .frame {
        flex-direction: column;
    }
    .section {
        height: 180px;
        flex-shrink: 0;
    }
    .section .bottom {
        display: none;
    }
    .section .top {
        align-items: center;
    }
}